<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title>Dashboard/Pagos</ion-title>
    <ion-item lines="none" slot="end" color="light">
      <ion-avatar slot="start">
        <img src="../../assets/icons/wisdomlogo.jpg" alt="">
      </ion-avatar>
      <ion-label>
        <h1>Admin</h1>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <div class="left_content">
      <app-side-menu></app-side-menu>
    </div>

    <div class="right_content">
      <app-registrodepagos></app-registrodepagos>
    </div>
  </div>
</ion-content>
