<div class="chat-container">
  <!--Lista de mis Usuarios-->
  <div class="lista-usuarios">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <h1 class="titulo">Usuarios</h1>
        </ion-label>
      </ion-list-header>

      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>
      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>
      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>
      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>
      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>
      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>

      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>

      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>

      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>

      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>

      <ion-item lines="full" (click)="ObtenerMensajes()">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42">
        </ion-avatar>
        <ion-label>
          <h1 class="texto-pequeño" style="width: 100%;">Elena Martinez</h1>
          <p class="texto-pequeño" style="margin-top: -5px;">Ultimo mensaje</p>
        </ion-label>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="success" class="texto-mediano"></ion-icon>
      </ion-item>

      


    </ion-list>
  </div>

  <div class="chats-displey">

    <!--conversacion-->
    <ion-list>
      <div class="cliente">
        <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42 avatar-perfil">
        <div class="texto-mensaje">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Facere quia perferendis neque, corrupti labore explicabo 
            molestias velit facilis mollitia ad recusandae totam molestiae 
            obcaecati hic quidem! Suscipit molestiae molestias at? Nostrum, 
            quo impedit officia, saepe a tenetur earum vitae rem repellendus quaerat velit inventore! 
            Aspernatur adipisci culpa quo. Alias, exercitationem.</p>
        </div>

      </div>

      <div class="admin">
        <div class="texto-mensaje">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Facere quia perferendis neque, 
            quo impedit officia, saepe a tenetur earum vitae rem repellendus quaerat velit inventore! 
            Aspernatur adipisci culpa quo. Alias, exercitationem.</p>
        </div>

      </div>

      <div class="cliente">
        <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42 avatar-perfil">
        <div class="texto-mensaje">
          <p>
            quo impedit officia, saepe a tenetur earum vitae rem repellendus quaerat velit inventore! 
            Aspernatur adipisci culpa quo. Alias, exercitationem.</p>
        </div>

      </div>

      <div class="admin">
        <div class="texto-mensaje">
          <p>
            quo impedit officia, saepe a tenetur earum vitae rem repellendus quaerat velit inventore! 
            Aspernatur adipisci culpa quo. Alias, exercitationem.</p>
        </div>

      </div>

      <div class="admin">
        <div class="texto-mensaje">
          <p>
            Alias, exercitationem.</p>
        </div>

      </div>

      <div class="cliente">
        <img src="../../../assets/profiles/profile1.jpg" alt="" class="avatar-42 avatar-perfil">
        <div class="texto-mensaje">
          <img src="../../../assets/home_01.jpg" alt="" class="image-chat">
        </div>

      </div>


    </ion-list>

    <!--Campo para escribir mensajes-->
    <div class="campo-mensajes">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-textarea type="text" color="jmvioleta" 
              placeholder="Ingrese Mensaje"
              ></ion-textarea>
          </ion-col>
          <ion-col size="2">
            <div class="btn-enviar-mensaje">
              <ion-icon name="navigate-outline" slot="end" 
                style="font-size: 22px; color: azure;">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> 

        

    </div>
    
  </div>
</div>