<ion-list lines="none">
  <ion-item (click)="dashboard()">
    <ion-icon name="layers-outline" slot="start" color="jmvioleta"></ion-icon>
    <ion-label> <h1 class="items-menu">Dashboard</h1></ion-label>
  </ion-item>

  <ion-item (click)="addNewContent()">
    <ion-icon name="reader-outline" slot="start" color="jmvioleta"></ion-icon>
    <ion-label> <h1 class="items-menu">Cursos</h1></ion-label>
  </ion-item>

  <ion-item (click)="listUsers()">
    <ion-icon name="people-outline" slot="start" color="jmvioleta"></ion-icon>
    <ion-label><h1 class="items-menu">Usuarios</h1></ion-label>
  </ion-item>

  <ion-item (click)="paymentList()">
    <ion-icon name="card-outline" slot="start" color="jmvioleta"></ion-icon>
    <ion-label><h1 class="items-menu">Pagos</h1></ion-label>
  </ion-item>

  <ion-item (click)="messagesList()">
    <ion-icon name="chatbox-ellipses-outline" slot="start" color="jmvioleta"></ion-icon>
    <ion-label><h1 class="items-menu">Mensajes</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="settings-outline" slot="start" color="jmvioleta"></ion-icon>
    <ion-label><h1 class="items-menu">Configuraciones</h1></ion-label>
  </ion-item>
</ion-list>

<!--
  Add Content
  Users
  Payments
  Notifications
  Settings

-->